@import "tailwindcss";
@import "../../../node_modules/quill/dist/quill.snow.css";
@import "../../../node_modules/quill/dist/quill.core.css";

@theme {
  --container-max1500: min(1500px, 100%);
  --container-max1200: min(1200px, 100%);
  --container-max1000: min(1000px, 100%);
  --container-max2000: min(1100px, 100%);
  --container-max500: min(500px, 100%);
  --container-max600: min(600px, 100%);
  --container-max700: min(700px, 100%);
  --container-max300: min(300px, 100%);
  --container-max200: min(200px, 100%);
  --container-max100: min(100px, 100%);
  --container-max150: min(150px, 100%);

  --color-white1: #f1f1f1;
  --color-blue: #01589A;

  --color-white2: #e5e5ef;
  --color-white3: #7f7e83;
  --color-lightblue: #e6eff5;
  /* --breakpoint-xs:425px */
  /* --color-lightblueDark:#010200; */
}

@custom-variant dark (&:where(.dark, .dark *));

.dark body {
  @apply bg-black;
}

.theme1cont,.theme2cont {
  @apply dark:ring-neutral-900 dark:ring;
}

.theme2cont {
  @apply not-dark:ring-neutral-300 ring;
}

.active1 {
  @apply text-blue-600 border-b-2 border-blue-600 dark:text-blue-500 dark:border-blue-500;
}

.quill,
.ql-picker-options {
  @apply dark:text-white1 dark:bg-black;
}

.ql-snow .ql-picker-options {
  @apply dark:text-white1 dark:bg-black!;
}

.dark .ql-picker-options {
  @apply dark:border-neutral-900 dark:border text-white1 bg-black;
}

.ql-editor {
  @apply p-0 min-h-15 pt-3;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  @apply dark:border-neutral-900!;
}

.dark .ql-toolbar.ql-snow {
  @apply bg-black;
}

.themeBg{
  @apply dark:bg-black not-dark:bg-white
}

.dark .ql-editor.ql-blank::before {
  /* color: red !important; */
  @apply text-white3;
}

.btnicon1 {
  @apply w-6 h-6 flex justify-center items-center dark:bg-neutral-900 rounded-full dark:text-white;
}

.ha {
  @apply hover:bg-gray-100 dark:hover:bg-gray-800;
}


.toast.success {
  background-color: rgb(63, 172, 63);
}

.toast.error {
  background-color: rgb(234, 36, 36);
}

.toast.warning {
  background-color: #ef9400c4;
}

.toast.info {
  background-color: rgb(77, 77, 242);
}

.swiper-pagination-bullet {
  @apply dark:bg-neutral-500!
}



  .swiper-pagination-fraction{
    
      background: #45454594;
      border-radius: 5px;
      width: 80px !important;
      margin-inline: auto;
      color: white !important;
      left: calc(50% - 40px) !important;
    
  }




  .rating {
  unicode-bidi: bidi-override;
  color: #ccc; /* empty star color */
  position: relative;
  display: inline-block;
  line-height: 1;
}

.rating::before {
  content: "★★★★★"; /* background stars */
}

.rating::after {
  content: "★★★★★"; /* filled stars */
  color: gold;
  position: absolute;
  top: 0;
  left: 0;
  width: calc((var(--rating) / var(--max-stars)) * 100%);
  overflow: hidden;
  white-space: nowrap;
}

.h1{
  @apply text-3xl w-full leading-none mb-5 sm:w-[max(379px)]  font-stretch-100%
}